{% extends 'base.html' %}
{% block content %}
<h2>Admin Panel</h2>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<!-- Form for adding users -->
<form method="POST" action="{{ url_for('add_user_route') }}">
    <label>Username:</label>
    <input type="text" name="username" required>
    <label>Password:</label>
    <input type="password" name="password" required>
    <label>ATM PIN:</label>
    <input type="password" name="atm_pin" required>
    <button type="submit">Add User</button>
</form>

<p style="text-align: left;">Users:</p> <!-- Align Users text to the left -->
<ul style="text-align: left;"> <!-- Ensure the list is also aligned -->
    {% for user in users %}
    <li>{{ user }}</li>
    {% endfor %}
</ul>

<!-- Form for logging out -->
<form method="POST" action="{{ url_for('logout') }}">
    <button type="submit">Logout</button>
</form>
{% endblock %}
