{% extends 'base.html' %}
{% block content %}
    <h2>Transaction History</h2>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{ url_for('dashboard') }}" method="GET" style="display:inline;">
        <button type="submit">Back to Dashboard</button>
    </form>
    <form action="{{ url_for('download_transactions') }}" method="GET" style="display:inline;">
        <button type="submit">Download Transactions</button>
    </form>
{% endblock %}
